:root {
    --background: #383846;
    --font-primary: #a0aec0;
    --font-heading: #d3dbe5;
    --font-link: #ec714c;
    --font-link-hover: #dc5b38;
    --font-link-disabled: rgba(236, 113, 76, 0.75);
    --linie: rgba(160, 174, 192, 0.5);
}

body {
    background: var(--background);
    color: var(--font-primary);


    font-family: 'Nunito', sans-serif;
    font-size: 150%;
}

hr {
    width: 75.5%;
    height: 2px;
    background-color: var(--linie);
    border: none;
}


.links {
    margin: 2% 12% 0;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.links li {
    float: left;
}

.links a {
    display: block;
    text-align: center;
    padding: 16px 16px 5px;
    text-decoration: none;
}


.container {
    margin: 2% 15%;
}

.container li{
    margin-bottom: 5px;
}

h1, h2, h3, h4 {
    color: var(--font-heading);
}

h1 {
    font-size: 170%;
}

a {
    color: var(--font-link);
}

.disabled-link {
    pointer-events: none;
    color: var(--font-link-disabled);
}

a:hover {
    color: var(--font-link-hover);
}

table {
    width: 100%;
    font-size: 120%;
}

tr:first-child {
    position: sticky;
    top: 0;
    background: var(--background);
    border-bottom: solid 5px var(--font-primary);
}

th, td {
    text-align: left;
    padding: 5px;
}

td {
    font-size: 80%;
}

.table-container {
    overflow: auto;
    height: 60%;
    clear: both;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #262e41;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--font-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #616a79;
}

.paginator ul {
    height: 50px;
}


.paginator a {
    height: 100%;
    padding: 0;
    margin: 10px;
}

.paginator p {
    height: 100%;
    padding: 0;
    margin: 20px 10px 0;
    font-size: 70%;
}


.search {
    float: right;
}

.header {
    float: left;
}

.search-container {
    width: 100%;
}

#search-header {
    margin-top: 0;
}

#clear-filter {
    font-size: 70%;
}
